@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url("responsive.css");
@import url("utils.css");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}

ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;    
}
p{
    margin: 1rem 0;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;
}

/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 3rem;
    height: 7rem;
    color: var(---white);
    background-color: var(--dark);
    opacity: 0.9;
}
.navbar a{
    color: var(---white);
    padding: 1rem 2rem;
    margin: 0 .5rem;
    transition: all .5s;
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    border-bottom: 2px solid var(--warning);
    color: var(--warning);
}

.navbar ul{
    display: flex;
}
.navbar .brand{
    font-weight: 400;
}
.navbar h1{
    font-size: 3rem;
}
.navbar span{
    color: var(--warning);
}

/*header*/
.main-header{
    background-image: url("../img/bg-1.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(---white);
    position: relative;
}
.main-header.blog{
    background-image: url("../img/bg-2.jpg");
    height: 50vh;
}
.main-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.main-header .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main-header *{
    z-index: 2;
}
.main-header .content h1{
    font-size: 5.5rem;
}
.main-header .content p{
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
    text-align: center;
}

/*icons*/
.icons{
    padding: 30px;
}
.icons h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.icons i{
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
/*about*/
.about {
    color: #fff;
}
.about h2{
    font-size: 4rem;
    font-weight: 400;
}
.about p{
    margin: 2rem 0;
}

/*section*/
.gallery img:hover{
    opacity: 0.8;
    cursor: pointer;
}

/*card*/

.card{
    font-weight: 700;
    transition: .5s;
}

.card-body{
    padding: 2rem;
}
.card:hover{
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*teams*/

.teams img{
    border-radius: 50%;
}
.teams img:hover{
    cursor: pointer;
    opacity: 0.7;
}

/*contact*/

.contact-form{
    width: 100%;
    padding: 2rem 0;
    font-weight: 700;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-control {
    margin-bottom: 1.5rem;
}
.contact-form input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #f5f5f5;
}
.contact-form .btn{
    padding: 12px 0;
    text-align: center;
    width: 100%;
    border-radius: 15px;
}
.contact h2{
    font-weight: 700;
    font-size: 4rem;
}

/*article*/
.article {
    padding: 2rem 5rem;
    color: #fff;
}


/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}
.footer a{
    color: var(--danger);
}
.footer a:hover{
    opacity: 0.7;
}

.footer i{
    margin: 0px 1rem;
}

/*mobile*/
@media(max-width:768px) {
    html{
        font-size: 8px !important;
    }
   
    .teams img {
        width: 70%;
    }
    .about .column-2{
        align-items: center;
        text-align: center;
    }
}

@media(max-width:992px) {
    html{
        font-size: 9px !important;
    }

    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
        z-index: 5;
    }
    .navbar a{
        padding: 10px;
        margin: 0 3px;
    }
}