@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: variables.$dark-color;
} 

ul{
    list-style: none;
}

img{
    width: 100%;
} 

#back-to-top{
    a{
        position: fixed;
        bottom: 0;
        right: 15px;
        font-size: 3rem;
        color: #7AB2D3; 
        z-index: 8;
        transition: all .5s;
        &:hover{
            transform: translateY(-8px);
        }
    }
  
} 