$max-width:1200px;
$primary-color:#54473F;
$secondary-color:#9A7E6F;
$third-color:#D4BDAC;
$white-color:#ccc;
$card-bg:#FBFBFB;
$dark-color:#333;
$blue-color:#243642;
$pink-color:#AF1740;
$green-color:#347928;
$bg-img:url("../img/home-bg.jpg");  